 <!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <table>
      <tbody>
        <tr>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td>
          <% if @book.user == current_user %>
             <%= link_to "Edit", edit_book_path(@book.id) %>
             <%= link_to "Destroy", book_path(@book), method: :delete %>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>