<% if flash[:notice] %>

<p><%= flash[:notice] %></p>
<% end %>
<div class="container">
    <div class="row">
      <h1>
        welcome to
        <i class="fas fa-book"></i>
        <strong>Bookers</strong>
        !!
      </h1>
    </div>
    <div class="row">
      <p>In <i class="fas fa-book"></i>Bookers,</p>
    </div>
    <div class="row">
      <p>you can share and exchange your opinions , inpressions , and emotions<br/>
         about various books!</p>
    </div>

    <div class="row-">
          <button type="button" class="btn btn-info btn-sm btn-block">
          <%= link_to "Log in", new_user_session_path %>
          </button>
          <button type="button" class="btn btn-success btn-sm btn-block">
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
     </div>
</div>
